CREATE TABLE app_table(
   ID               SERIAL         PRIMARY KEY     NOT NULL,
   NAME             CHAR(50)                    NOT NULL,
   LASTNAME         CHAR(50)                    NOT NULL,
   CATS_OR_DOGS     TEXT                        NOT NULL
);